@charset "UTF-8";
body {
  padding: 50px 0 0;
  z-index: 0;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: #512DA8;
  content: "»";
}

.row-header {
  margin: 0 auto;
  padding: 20px 0;
}

.row-content {
  margin: 0 auto;
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.jumbotron {
  margin: 0 auto;
  padding: 70px 30px;
  background: #9575CD;
  color: floralwhite;
}

.footer {
  margin: 0 auto;
  padding: 20px 0;
  background-color: #D1C4E9;
}
.footer span {
  margin-right: 0.4em;
}
.footer .social .fa {
  color: floralwhite;
}

.contact-buttons span {
  margin-right: 0.4em;
}

address {
  font-size: 80%;
  margin: 0;
  color: #0f0f0f;
}
address .fa {
  color: #512DA8;
}

.card-header {
  background-color: #512DA8;
}
.card-header small {
  margin-left: 0.5em;
}

.navbar {
  background-color: #512DA8;
}
.navbar span {
  margin-right: 0.4em;
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 1em;
}

.carousel {
  background-color: #512DA8;
}
.carousel .carousel-item {
  height: 300px;
}
.carousel .carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
}
.carousel .carousel-item p {
  background-color: rgba(121, 114, 140, 0.7);
}

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

#tableReserve .btn-success.active {
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}